<div class="card border shadow rounded">
    <div class="content">
        <ul class="nav flex-column">
            <li class="nav-item">
                <%= link_to "Chatroom", guild, class: "nav-link active" %>
            </li>
            <li class="nav-item">
                <%= link_to "Merry Feasts", guild_events_path, class: "nav-link" %>
            </li>
            <li class="nav-item"><%= link_to "Members", members_path, class: "nav-link" %></li>
            <li><%= link_to "Back to guilds", guilds_path, class: "nav-link" %></li>
            <li><%= link_to "Leave guild", guilds_path, class: "nav-link" %></li>
            
        </ul>
    </div>
</div>

<% if @events.any? %>
    <%= render "guild_events/guild_event_summary", events:@events %>
<% end %>

<% if guild.id? && can_edit_guild? %>
    <div class="card shadow rounded mt-3">
        <div class="alert alert-secondary mb-0" role="alert">
                Administration
                <hr/>
            <ul class="nav flex-column">
                <li><%= link_to "Join Requests", join_requests_path(guild), class: "nav-link" %></li>
                <li><%= link_to "Edit guild", edit_guild_path(guild), class: "nav-link" %></li>
                <li><%= link_to "Delete guild", guild, class: "nav-link text-danger", method: :delete %></li>
            </ul>
        </div>
    </div>
<% end %>