
<%= render "guild_events/guild_event_summary", events:@events %>
<%= render "guild_members/members_summary", members:@guild.users %>

<% if guild.id? && can_edit_guild? %>
    <div class="card shadow rounded my-3">
        <div class="alert alert-secondary mb-0" role="alert">
                Administration
                <hr/>
            <ul class="nav flex-column">
                <li><%= link_to "Join Requests", join_requests_path(guild), class: "nav-link" %></li>
                <li><%= link_to "Edit guild", edit_guild_path(guild), class: "nav-link" %></li>
                <li><%= link_to "Delete guild", guild, class: "nav-link text-danger", method: :delete %></li>
            </ul>
        </div>
    </div>
<% end %>