<p style="color: green"><%= notice %></p>

<div class="text-center mt-5">
  <h4><i class="bi bi-fire" style="font-size:5rem;"></i></h4>
  <h2><%= @guild.name %></h2>
  <h5><%= @guild.description %></h5>
</div>

<div class="mt-3">
  <div class="row g-5">
    <div class="col">
      <%= render "chatroom/chatroom" %>
    </div>
    
    <div class="col-4">
        <div class="card border shadow rounded">
          <div class="content">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Chatroom</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Merry Feasts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Members</a>
              </li>
              <li><%= link_to "Back to guilds", guilds_path, class: "nav-link" %></li>
              <li><%= link_to "Leave guild", guilds_path, class: "nav-link" %></li>
              <li class="nav-item"><%= link_to "(Admin) Edit guild", edit_guild_path(@guild), class: "nav-link" %></li>
              <li><%= link_to "(Admin) Delete guild", @guild, class: "nav-link", method: :delete %></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>