<%= form_with(model: join_request) do |form| %>
  <% if join_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(join_request.errors.count, "error") %> prohibited this join_request from being saved:</h2>

      <ul>
        <% join_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="input-group">
    <%= form.label :invite_code, "Guild code:", class: "input-group-text" %>
    <%= form.text_field :invite_code, class: "form-control", placeholder: "Guild Code" %>
    <%= form.submit "Request to join", class: "btn btn-primary p-3" %>
  </div>
  <% if join_request.invite_code && join_request.valid_code %>
    <div class="p-2 bg-info bg-opacity-10 border border-success rounded mt-2">
      <i class="bi bi-check-circle-fill"></i>&nbsp;<strong>Code valid</strong>
    </div>
  <% end %> 
  
<% end %>
