<%= form_with(model: join_request) do |form| %>
  <% if join_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(join_request.errors.count, "error") %> prohibited this join_request from being saved:</h2>

      <ul>
        <% join_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="input-group mb-3">
    <%= form.label :invite_code, "Invite code:", class: "input-group-text" %>
    <%= form.text_field :invite_code, class: "form-control", placeholder: "A12345" %>
    <%= form.submit "Request to join", class: "btn btn-primary" %>
  </div>
<% end %>
