<div id="<%= dom_id join_request %>">
  <p>
    <strong>Name:</strong>
    <%= join_request.user.full_name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= join_request.user.username %>
  </p>

  <p>
    <strong>Guild:</strong>
    <%= join_request.guild.name %>
  </p>

  <p>
    <strong>Invite code:</strong>
    <%= join_request.invite_code %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= join_request.status.titleize %>
  </p>

</div>
