<div id="<%= dom_id join_request %>">
  <p>
    <strong>User:</strong>
    <%= join_request.user_id %>
  </p>

  <p>
    <strong>Guild:</strong>
    <%= join_request.guild_id %>
  </p>

  <p>
    <strong>Invite code:</strong>
    <%= join_request.invite_code %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= join_request.status %>
  </p>

</div>
