<p style="color: green"><%= notice %></p>

<%= render @join_request %>

<div>
  <%= link_to "Edit this join request", edit_guild_join_request_path(guild_id: @join_request.guild_id, id: @join_request.id) %> |
  <%= link_to "Back to join requests", guild_join_requests_path %>

  <%= button_to "Destroy this join request", @join_request, method: :delete %>
</div>
