<p style="color: green"><%= notice %></p>

<%= render @join_request %>

<div>
  <%= link_to "Edit this join request", edit_join_request_path(@join_request) %> |
  <%= link_to "Back to join requests", join_requests_path %>

  <%= button_to "Destroy this join request", @join_request, method: :delete %>
</div>
