
<div class="d-flex flex-row mb-1">
    <%= form_for :attendee, url:attend_event_path, method: :post do |form| %>
        <%= form.hidden_field :status, value: :accepted %>
        <%= form.submit "I'm in!", class: "btn btn-light me-2" %>
    <% end %>

    <%= form_for :attendee, url:attend_event_path, method: :post do |form| %>
        <%= form.hidden_field :status, value: :maybe %>
        <%= form.submit "Maybe", class: "btn btn-light me-2" %>
    <% end %>

    <%= form_for :attendee, url:attend_event_path, method: :post do |form| %>
        <%= form.hidden_field :status, value: :declined %>
        <%= form.submit "Will miss it", class: "btn btn-light me-2" %>
    <% end %>
</div>