


<% if !user_signed_in? %> 
  <div class="container">
    <h1>The Guild Hall</h1>
    <h2>Come for the friends, stay for the friends</h2>
    <%= link_to new_user_registration_path, class: "btn btn-primary" do %>
        Get Started <i class="bi bi-arrow-right"></i>
    <% end %>
  </div>




<% elsif !@guild %>
  <h1>Welcome to the Guild Hall</h1>

  <div class="alert alert-primary mt-5">
    <h5>You haven't joined any guilds yet</h5>
    <p>You may <%= link_to "create your own guild", new_guild_path %> and invite your friends, 
      or <%= link_to "request to join", new_join_request_path %> one!</p>
  </div>


<% else %>
  <h1>Welcome to the Guild Hall</h1>
  <div class="mt-5">
    <h5>You are a member of the <%= @guild.name %> guild</h5>
    <p>Here are some of your guildmates:</p>
    <ul>
      <% @guild.users.each do |user| %>
        <li><%= user.full_name %></li>
      <% end %>
    </ul>
  </div>
<% end %>