<%= form_with(model: guild_event) do |form| %>
  <% if guild_event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guild_event.errors.count, "problem") %> found:</h2>

      <ul>
        <% guild_event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <div class="bg-secondary p-3">
      <%= form.rich_text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :starts, class: "form-label" %>
    <%= form.datetime_field :starts, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :ends, class: "form-label" %>
    <%= form.datetime_field :ends, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :location, class: "form-label" %>
    <%= form.text_area :location, class: "form-control" %>
  </div>

  <div class="d-flex">
    <div class="flex-grow-1">
      <%= link_to "Back to events", guild_events_path %>
    </div>
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
