<% if @events && @events.any? %>
  <div class="card border shadow rounded mb-3">
    <div class="card-body">
      <div class="card-title">Upcoming Events</div>
      <ul class="nav flex-column">
        <% events.each do |event| %>
          <li class="nav-item mb-3">
            <span class="badge text-bg-info"><%= event.starts.strftime('%d %b at %I:%M:%p') %></span>
            <br/>
            <%= link_to event.name, event %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="card-footer d-flex justify-content-start">
      <span class="mx-2"><%= link_to "New event", new_guild_event_path %></span>
      <span class="mx-2"><%= link_to "All events", guild_events_path %></span>
    </div>
  </div>
<% else %>
  <div class="card border shadow rounded mb-3">
    <div class="card-body">
      <h5 class="card-title">Upcoming Events</h5>
      <p>No events yet.</p>
      <p><i>(This is a perfect time to <%= link_to "create one", new_guild_event_path %>!)</i></p>
    </div>
    <div class="card-footer d-flex justify-content-start">
      <span class="mx-2"><%= link_to "New event", new_guild_event_path %></span>
    </div>
  </div>
<% end %>