

<h3 class="title"><%= guild_event.name %></h3>
<h5><%= guild_event.description %></h5>

<div id="<%= dom_id guild_event %>">
  <p>
    <strong>Creator:</strong>
    <%= guild_event.user.username %>
  </p>

  <p>
    <strong>Starts:</strong>
    <%= guild_event.starts.strftime('%a %b %d. Arrive at %I:%M:%p') %>
  </p>

  <% if guild_event.ends %>
    <p>
      <strong>Ends:</strong>
      <%= guild_event.ends %>
    </p>
  <% end %>

  <p>
    <strong>Where to be:</strong>
    <%= guild_event.location %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= guild_event.status.titleize %>
  </p>

</div>
