

<div class="col-lg-12">
    <div class="card bg-<%= guild_event.theme %> bg-gradient2 card-margin" id="<%= dom_id guild_event %>">
        <div class="card-header py-3">
            <h5 class="card-title"><%= guild_event.name %></h5>
        </div>
        <div class="card-body pt-3">
            <div class="widget-49">
                <div class="widget-49-title-wrapper">
                    <div class="widget-49-date-<%= guild_event.theme %>">
                        <span class="widget-49-date-day"><%= guild_event.starts.strftime('%d') %></span>
                        <span class="widget-49-date-month"><%= guild_event.starts.strftime('%b').upcase %></span>
                    </div>
                    <div class="widget-49-meeting-info">
                        <span class="widget-49-pro-title"><%= guild_event.status.titleize %></span>
                        <span class="widget-49-meeting-time"><%= guild_event.starts.strftime('%I:%M:%p') %>
                        <% if guild_event.ends %>
                            &ndash; <%= guild_event.ends.strftime('%I:%M:%p') %>
                        <% end %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="widget-49-meeting-action">
                <%= link_to "Details", guild_event_path(guild_event), class: "btn btn-light" %>
            </div>
        </div>
    </div>
</div>