
<% content_for :title do %>
  <h1>Upcoming Event</h1>
<% end %>

<p style="color: green"><%= notice %></p>

<%= render @guild_event %>

<div>
  <%= link_to "Edit this guild event", edit_guild_event_path(@guild_event) %> |
  <%= link_to "Back to guild events", guild_events_path %>

  <%= button_to "Cancel event", @guild_event, method: :delete, class: "btn btn-danger" %>
</div>
