<% content_for :title do %>
  Guild Members
<% end %>

<% @users.each do |user| %>
  <div class="card border shadow bg-body rounded mb-3">
    <div class="card-body">
        
      <div class="d-flex">
        <h2 class="card-title flex-grow-1">
          <%= image_tag(current_user.avatar, class: "profile-icon") %>
          <span class="mx-2"><%= user.username %></span>
        </h2>
        <p class="badge text-bg-success mx-3 align-self-center"><%= membership_for(user, @guild).role.titleize %></p>
      </div>

      <p><%= user.email %></p>
      <p><%= user.birth_date %></p>
      <p><i>Joined <%= time_ago_in_words(user.created_at) %> ago</i></p>
      </div>
      <% if can_edit_guild? %>
        <div class="card-footer">
          <div class="alert alert-dark mt-3" role="alert">
            <p>Change role</p>
            <%= render "edit", member:membership_for(user, @guild), guild:@guild %>
          </div>
        </div>
      <% end %>
  </div>
<% end %>