<% content_for :title do %>
  Guild Members
<% end %>

<% @users.each do |user| %>
  <div class="card border shadow bg-body rounded mb-3">
    <div class="card-body">
      <h6 class="card-title">
        <p class="form-label badge text-bg-secondary"><%= membership_for(user, @guild).role.titleize %></p>
      </h6>
      <h5 class="card-title"><%= user.username %></h5>
      <p><%= user.email %></p>
      <p><%= user.birth_date %></p>
      <p><i>Joined <%= time_ago_in_words(user.created_at) %> ago</i></p>
      </div>
      <% if can_edit_guild? %>
        <div class="card-footer">
          <div class="alert alert-dark mt-3" role="alert">
            <p>Change role</p>
            <%= render "edit", member:membership_for(user, @guild), guild:@guild %>
          </div>
        </div>
      <% end %>
  </div>
<% end %>