<nav class="navbar navbar-expand-lg">
  <div class="container">
    
    <% if user_signed_in? && @guild.id %>
      <%= link_to @guild.name, guild_path(@guild), class: "navbar-brand mb-0 h1" %>
    <% else %>
      <%= link_to "Guild Hall", home_path, class: "navbar-brand mb-0 h1" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

      <div class="d-flex">
        <% if user_signed_in? %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Guild</a>
              <ul class="dropdown-menu">
                <% current_user.guilds.each do |guild| %>
                  <li><%= link_to guild.name, guild_path(guild), class: "dropdown-item" %></li>
                <% end %>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Join a Guild", new_join_request_path, class: "dropdown-item" %></li>
                <li><%= link_to "Create a Guild", new_guild_path, class: "dropdown-item" %></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.username %>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to current_user.username, edit_user_registration_path(current_user), class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { "turbo-method": :delete } %></li>
              </ul>
            </li>
          </ul>
        <% end %>
        <% if !user_signed_in? %>
          <div class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn" %>
          </div>
          <div class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</nav>